/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/styles/color.css ***!
  \******************************************************************************************************************/
:root { 
--gray_600:#808080; 
--gray_700:#616161; 
--gray_400:#afafaf; 
--gray_500:#acacac; 
--black_900:#000000; 
--blue_gray_400:#8c8c8c; 
--red_A100:#f88a89; 
--gray_900:#1c1c1c; 
--gray_900_01:#151515; 
--blue_gray_700:#405060; 
--white_A700:#ffffff; 
}
/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/styles/font.css ***!
  \*****************************************************************************************************************/

 @font-face { font-display: swap; font-style : normal; src: url(/static/media/InterSemiBold.6058d3da655fb35169c2..ttf); font-family : "Inter"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url(/static/media/CommissionerSemiBold.962a638b43fd7e963361..ttf); font-family : "Commissioner"; font-weight : 600;  }
/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/styles/index.css ***!
  \******************************************************************************************************************/
* {
  box-sizing: border-box;
  line-height: normal;
}
body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
}
.dhiwise-code,
.dhiwise-navigation {
  min-height: 100%;
}
.common-pointer {
  cursor: pointer;
}
.dhiwise-navigation {
  padding: 20px;
  background-color: #232323;
}
.dhiwise-navigation h1 {
  color: white;
}
.dhiwise-navigation .headline {
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
}
.dhiwise-navigation ul {
  padding: 0;
}
.dhiwise-navigation ul li {
  list-style: none;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
}
.dhiwise-navigation a {
  color: #132cdc;
}
table {
  border-spacing: 0;
  width: 100%;
}
.common-select {
  z-index: 10000;
}
.react-datepicker-popper {
  z-index: 100000 !important;
}
.drawable-icon{
  position: absolute;
  margin: auto;
  z-index: 1000;
}
.input-wrap{
  position: relative;
}
option{
  color: #000;
}
.table-wrap{
  overflow: auto;
}
input:focus{
  outline:none;
}
.ReactModal__Body--open{
  overflow: hidden;
}
  .slider-indicator:first-child {
    margin-left: 0;
}

.slider-indicator:last-child {
margin-right: 0;
}

.rc-drawer-content-wrapper{
  width: 100% !important;
}
.rc-drawer-right .rc-drawer-content-wrapper{
  display: flex;
  justify-content: flex-end;
}
.rc-drawer-left .rc-drawer-content-wrapper{
  display: flex;
  justify-content: flex-start;
}
.ReactModal__Overlay{
  z-index: 1051;
}

ul li a{
  display: block;
}

.mobile-menu div{
  height: 1.5px;
  width: 20px;
  background-color: #000;
  margin:4px 0;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.header-row{
  align-items:center;
  justify-content: space-between;
  display: flex;
}
@media only screen and (min-width: 200px) and (max-width: 550px)  {
  .mobile-menu {
    display: block;
  }
  .header-row{
    width: 100% !important;
  }
  .display-block{
    display: block;
  }
  .display-none{
    display: none;
  }
  .common-row-list > ul{
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
  }
}
.menu-close-icon {
  position: absolute;
  right: 16px;
  top: 16px;
}
.menu-overlay{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  left: 0px;
  top: 0px;
}
.close-line1{
  transform: translate(0, 6px) rotate(-45deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
.close-line2{
  transform: translate(0, 0) rotate(45deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
.common-row-list > ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-grow: 1;
}

.common-column-list > ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.common-column-list li{
  width: 100%;
}

/* scroll */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}
/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/styles/tailwind.css ***!
  \*********************************************************************************************************************/
/*
! tailwindcss v3.0.18 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */ /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #afafaf; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

[type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
  -webkit-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #acacac;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}

input::placeholder,textarea::placeholder {
  color: #acacac;
  opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-date-and-time-value {
  min-height: 1.5em;
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27none%27 viewBox=%270 0 20 20%27%3e%3cpath stroke=%27%23acacac%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%271.5%27 d=%27M6 8l4 4 4-4%27/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
}

[multiple] {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
          color-adjust: unset;
}

[type='checkbox'],[type='radio'] {
  -webkit-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
          user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #acacac;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

[type='checkbox'] {
  border-radius: 0px;
}

[type='radio'] {
  border-radius: 100%;
}

[type='checkbox']:focus,[type='radio']:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

[type='checkbox']:checked,[type='radio']:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox=%270 0 16 16%27 fill=%27white%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3cpath d=%27M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z%27/%3e%3c/svg%3e");
}

[type='radio']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox=%270 0 16 16%27 fill=%27white%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3ccircle cx=%278%27 cy=%278%27 r=%273%27/%3e%3c/svg%3e");
}

[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='checkbox']:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27none%27 viewBox=%270 0 16 16%27%3e%3cpath stroke=%27white%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M4 8h8%27/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='file'] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}

[type='file']:focus {
  outline: 1px auto -webkit-focus-ring-color;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-\[0\] {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.inset-x-\[0\] {
  left: 0;
  right: 0;
}
.top-\[0\] {
  top: 0;
}
.bottom-\[0\] {
  bottom: 0;
}
.left-\[0\] {
  left: 0;
}
.top-\[2\%\] {
  top: 2%;
}
.right-\[1\%\] {
  right: 1%;
}
.right-\[0\] {
  right: 0;
}
.m-auto {
  margin: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-3\.5 {
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.my-0\.5 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.ml-\[54px\] {
  margin-left: 54px;
}
.mr-\[23px\] {
  margin-right: 23px;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-\[11px\] {
  margin-top: 11px;
}
.ml-\[17px\] {
  margin-left: 17px;
}
.ml-\[3px\] {
  margin-left: 3px;
}
.ml-\[196px\] {
  margin-left: 196px;
}
.mt-3\.5 {
  margin-top: 0.875rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.ml-\[361px\] {
  margin-left: 361px;
}
.mt-\[70px\] {
  margin-top: 70px;
}
.ml-\[5px\] {
  margin-left: 5px;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mt-\[43px\] {
  margin-top: 43px;
}
.mr-0\.5 {
  margin-right: 0.125rem;
}
.mr-0 {
  margin-right: 0px;
}
.mt-\[49px\] {
  margin-top: 49px;
}
.mb-\[5px\] {
  margin-bottom: 5px;
}
.mt-\[195px\] {
  margin-top: 195px;
}
.ml-0\.5 {
  margin-left: 0.125rem;
}
.ml-0 {
  margin-left: 0px;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-\[124px\] {
  margin-left: 124px;
}
.mt-\[3px\] {
  margin-top: 3px;
}
.ml-1 {
  margin-left: 0.25rem;
}
.mt-\[50px\] {
  margin-top: 50px;
}
.mt-\[66px\] {
  margin-top: 66px;
}
.mt-\[35px\] {
  margin-top: 35px;
}
.mt-\[608px\] {
  margin-top: 608px;
}
.mt-\[19px\] {
  margin-top: 19px;
}
.mb-2\.5 {
  margin-bottom: 0.625rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.ml-\[549px\] {
  margin-left: 549px;
}
.mt-\[60px\] {
  margin-top: 60px;
}
.ml-\[323px\] {
  margin-left: 323px;
}
.mt-\[29px\] {
  margin-top: 29px;
}
.mt-\[684px\] {
  margin-top: 684px;
}
.ml-\[110px\] {
  margin-left: 110px;
}
.mt-\[39px\] {
  margin-top: 39px;
}
.mt-\[9px\] {
  margin-top: 9px;
}
.ml-\[298px\] {
  margin-left: 298px;
}
.mb-\[109px\] {
  margin-bottom: 109px;
}
.mt-\[15px\] {
  margin-top: 15px;
}
.mt-\[18px\] {
  margin-top: 18px;
}
.ml-\[448px\] {
  margin-left: 448px;
}
.ml-1\.5 {
  margin-left: 0.375rem;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.h-\[166px\] {
  height: 166px;
}
.h-\[85px\] {
  height: 85px;
}
.h-\[25px\] {
  height: 25px;
}
.h-\[26px\] {
  height: 26px;
}
.h-\[38px\] {
  height: 38px;
}
.h-\[34px\] {
  height: 34px;
}
.h-7 {
  height: 1.75rem;
}
.h-\[297px\] {
  height: 297px;
}
.h-\[206px\] {
  height: 206px;
}
.h-full {
  height: 100%;
}
.h-\[435px\] {
  height: 435px;
}
.h-\[164px\] {
  height: 164px;
}
.h-max {
  height: -webkit-max-content;
  height: max-content;
}
.h-14 {
  height: 3.5rem;
}
.h-\[73px\] {
  height: 73px;
}
.h-\[23px\] {
  height: 23px;
}
.h-\[525px\] {
  height: 525px;
}
.h-\[29px\] {
  height: 29px;
}
.h-\[146px\] {
  height: 146px;
}
.h-6 {
  height: 1.5rem;
}
.h-\[185px\] {
  height: 185px;
}
.min-h-\[auto\] {
  min-height: auto;
}
.w-full {
  width: 100%;
}
.w-\[95\%\] {
  width: 95%;
}
.w-\[9\%\] {
  width: 9%;
}
.w-\[83\%\] {
  width: 83%;
}
.w-\[35px\] {
  width: 35px;
}
.w-\[98\%\] {
  width: 98%;
}
.w-\[34\%\] {
  width: 34%;
}
.w-7 {
  width: 1.75rem;
}
.w-\[93\%\] {
  width: 93%;
}
.w-\[26\%\] {
  width: 26%;
}
.w-\[346px\] {
  width: 346px;
}
.w-\[350px\] {
  width: 350px;
}
.w-\[22px\] {
  width: 22px;
}
.w-\[57\%\] {
  width: 57%;
}
.w-\[88\%\] {
  width: 88%;
}
.w-\[33\%\] {
  width: 33%;
}
.w-\[64\%\] {
  width: 64%;
}
.w-\[58\%\] {
  width: 58%;
}
.w-\[99\%\] {
  width: 99%;
}
.w-\[25px\] {
  width: 25px;
}
.w-\[97\%\] {
  width: 97%;
}
.min-w-\[350px\] {
  min-width: 350px;
}
.min-w-\[222px\] {
  min-width: 222px;
}
.min-w-\[288px\] {
  min-width: 288px;
}
.min-w-\[159px\] {
  min-width: 159px;
}
.min-w-\[248px\] {
  min-width: 248px;
}
.max-w-\[1333px\] {
  max-width: 1333px;
}
.rotate-\[-180deg\] {
  --tw-rotate: -180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-\[25px\] {
  gap: 25px;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-\[23px\] {
  gap: 23px;
}
.gap-\[51px\] {
  gap: 51px;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-1\.5 {
  gap: 0.375rem;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2\.5 {
  gap: 0.625rem;
}
.gap-\[17px\] {
  gap: 17px;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-\[18px\] {
  gap: 18px;
}
.gap-\[13px\] {
  gap: 13px;
}
.overflow-auto {
  overflow: auto;
}
.overflow-x-auto {
  overflow-x: auto;
}
.rounded-none {
  border-radius: 0px;
}
.rounded-sm {
  border-radius: 0.125rem;
}
.rounded-\[1px\] {
  border-radius: 1px;
}
.border-2 {
  border-width: 2px;
}
.border-\[3px\] {
  border-width: 3px;
}
.border-solid {
  border-style: solid;
}
.border-gray-900 {
  --tw-border-opacity: 1;
  border-color: rgb(28 28 28 / var(--tw-border-opacity));
}
.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgb(172 172 172 / var(--tw-border-opacity));
}
.border-blue_gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(140 140 140 / var(--tw-border-opacity));
}
.bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(128 128 128 / var(--tw-bg-opacity));
}
.bg-blue_gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(64 80 96 / var(--tw-bg-opacity));
}
.bg-white-A700 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(175 175 175 / var(--tw-bg-opacity));
}
.bg-red-A100 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 138 137 / var(--tw-bg-opacity));
}
.bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(28 28 28 / var(--tw-bg-opacity));
}
.object-cover {
  object-fit: cover;
}
.p-\[3px\] {
  padding: 3px;
}
.p-\[22px\] {
  padding: 22px;
}
.p-\[23px\] {
  padding: 23px;
}
.p-3 {
  padding: 0.75rem;
}
.p-\[13px\] {
  padding: 13px;
}
.p-\[17px\] {
  padding: 17px;
}
.p-0\.5 {
  padding: 0.125rem;
}
.p-0 {
  padding: 0px;
}
.p-\[7px\] {
  padding: 7px;
}
.px-\[267px\] {
  padding-left: 267px;
  padding-right: 267px;
}
.py-\[13px\] {
  padding-top: 13px;
  padding-bottom: 13px;
}
.px-\[35px\] {
  padding-left: 35px;
  padding-right: 35px;
}
.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.pl-\[17px\] {
  padding-left: 17px;
}
.pr-\[35px\] {
  padding-right: 35px;
}
.pb-\[11px\] {
  padding-bottom: 11px;
}
.pt-\[15px\] {
  padding-top: 15px;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pt-\[23px\] {
  padding-top: 23px;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pl-\[22px\] {
  padding-left: 22px;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pb-0\.5 {
  padding-bottom: 0.125rem;
}
.pl-4 {
  padding-left: 1rem;
}
.pb-0 {
  padding-bottom: 0px;
}
.pt-0\.5 {
  padding-top: 0.125rem;
}
.pt-0 {
  padding-top: 0px;
}
.pl-0\.5 {
  padding-left: 0.125rem;
}
.pl-0 {
  padding-left: 0px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.font-commissioner {
  font-family: Commissioner;
}
.font-arial {
  font-family: Arial;
}
.font-inter {
  font-family: Inter;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-\[68px\] {
  font-size: 68px;
}
.text-\[25px\] {
  font-size: 25px;
}
.text-\[33px\] {
  font-size: 33px;
}
.text-\[43px\] {
  font-size: 43px;
}
.text-\[26px\] {
  font-size: 26px;
}
.text-\[21px\] {
  font-size: 21px;
}
.text-\[19px\] {
  font-size: 19px;
}
.font-semibold {
  font-weight: 600;
}
.font-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.leading-\[normal\] {
  line-height: normal;
}
.tracking-\[-0\.75px\] {
  letter-spacing: -0.75px;
}
.tracking-\[-0\.78px\] {
  letter-spacing: -0.78px;
}
.tracking-\[-0\.63px\] {
  letter-spacing: -0.63px;
}
.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(28 28 28 / var(--tw-text-opacity));
}
.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.text-gray-900_01 {
  --tw-text-opacity: 1;
  color: rgb(21 21 21 / var(--tw-text-opacity));
}
.shadow-bs {
  --tw-shadow: 0px -7px  35px 9px #616161;
  --tw-shadow-colored: 0px -7px 35px 9px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-bs1 {
  --tw-shadow: 0px 9px  35px 9px #616161;
  --tw-shadow-colored: 0px 9px 35px 9px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline {
  outline-style: solid;
}

:root {
  --primary-color: #808080;
}
/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='search']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--primary-color);
  border-color: var(--primary-color);
}

.react-datepicker-wrapper .react-datepicker__input-container input{
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0px;
}
.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background: none;
  color: black;
}
input:focus, textarea:focus{
  outline:none !important;
  outline-offset: 0 !important;
  --tw-ring-offset-width:none !important;
}

li:focus-visible{
  outline: none;
}

li:hover{
  cursor: pointer;
}

.tab-panel--selected { animation-name: tabPanel; animation-duration: 300ms; animation-timing-function: linear; }
@keyframes tabPanel { from { opacity: 0; } to { opacity: 1; } }
/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container label {
  position: absolute;
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input {
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.ps-menu-icon {
  width: unset !important;
  min-width: unset !important;
  justify-content: start !important;
  margin: 0 !important;
}
.ps-menu-button, .ps-menu-icon {
  height: unset !important;
}
.ps-menu-button:hover {
  background-color: unset !important;
}
.ps-sidebar-container, .ps-submenu-content{
  background-color: transparent !important;
}
.ps-collapsed .ps-menu-icon{
  min-width: 100% !important;
  justify-content: center !important;
}
.ps-collapsed{
  width: 80px !important;
}
.ps-sidebar-container, .ps-menu-root,.ps-menu-root>ul{
  width:100%;
  display:flex;
  flex-direction: column;
}
.ps-sidebar-root{
  min-width: unset !important;
  border: none !important;
}
.ps-collapsed, .ps-collapsed .ps-menu-root, .ps-collapsed .ps-menu-button{
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: unset !important;
  margin-right: unset !important;
}
.ps-collapsed ul{
  align-items: center;
}
.ps-menu-label{
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1050px) {

  .md\:ml-\[0\] {
    margin-left: 0;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:h-\[296px\] {
    height: 296px;
  }

  .md\:h-\[693px\] {
    height: 693px;
  }

  .md\:h-\[206px\] {
    height: 206px;
  }

  .md\:h-\[411px\] {
    height: 411px;
  }

  .md\:h-\[116px\] {
    height: 116px;
  }

  .md\:h-\[306px\] {
    height: 306px;
  }

  .md\:w-full {
    width: 100%;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-col {
    flex-direction: column;
  }

  .md\:gap-5 {
    gap: 1.25rem;
  }

  .md\:gap-10 {
    gap: 2.5rem;
  }

  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .md\:text-\[23px\] {
    font-size: 23px;
  }

  .md\:text-\[31px\] {
    font-size: 31px;
  }

  .md\:text-\[39px\] {
    font-size: 39px;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-\[19px\] {
    font-size: 19px;
  }
}
@media (max-width: 550px) {

  .sm\:ml-\[0\] {
    margin-left: 0;
  }

  .sm\:h-auto {
    height: auto;
  }

  .sm\:h-\[1040px\] {
    height: 1040px;
  }

  .sm\:h-\[166px\] {
    height: 166px;
  }

  .sm\:h-\[182px\] {
    height: 182px;
  }

  .sm\:w-full {
    width: 100%;
  }

  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .sm\:flex-col {
    flex-direction: column;
  }

  .sm\:gap-10 {
    gap: 2.5rem;
  }

  .sm\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .sm\:pr-5 {
    padding-right: 1.25rem;
  }

  .sm\:pl-5 {
    padding-left: 1.25rem;
  }

  .sm\:text-\[21px\] {
    font-size: 21px;
  }

  .sm\:text-\[29px\] {
    font-size: 29px;
  }

  .sm\:text-\[33px\] {
    font-size: 33px;
  }

  .sm\:text-\[22px\] {
    font-size: 22px;
  }

  .sm\:text-\[17px\] {
    font-size: 17px;
  }
}



/*# sourceMappingURL=main.64adae23.css.map*/