:root { 
--gray_600:#808080; 
--gray_700:#616161; 
--gray_400:#afafaf; 
--gray_500:#acacac; 
--black_900:#000000; 
--blue_gray_400:#8c8c8c; 
--red_A100:#f88a89; 
--gray_900:#1c1c1c; 
--gray_900_01:#151515; 
--blue_gray_700:#405060; 
--white_A700:#ffffff; 
}